*{
    margin: 0;
    padding: 0;
}
.box{
    width: 800px;
    height: 300px;
    background-color: #ccc;
    margin: 300px auto;
}
.ex1{
    position: relative;
    overflow: hidden;
}
.ex1>div{
    width: 100px;
    height: 100px;
    position: absolute;
}
.a{
    background-color: red;
    transition: all 1s ease 0s;
}
.b{
    background-color: green;
    transition: all 1s ease 0s;
}
.c{
    background-color: blue;
    transition: all 1s ease 0s;
}
.d{
    background-color: yellow;
    transition: all 1s ease 0s;
}
.e{
    background-color: pink;
    transition: all 1s ease 0s;
}
.ex1 .a{
    top: 0;
    left: 0;
}
.ex1:hover .a{
    top: -100px;
    left: -100px;
}
.ex1 .b{
    bottom: 0;
    left:0;
}
.ex1:hover .b{
    bottom: -100px;
    left: -100px;
}
.ex1 .c{
 left: calc(50% - 50px);
 top: calc(50% - 50px);
}
.ex1 .d{
    top: 0;
    right: 0;
}
.ex1:hover .d{
    top:-100px;
    right:-100px;
}
.ex1 .e{
    right:0;
    bottom: 0;
}
.ex1:hover .e{
    right:-100px;
    bottom:-100px;
}


.ex2{position: relative;}
.ex2>div{
    width: 100px;
    height: 100px;
    position: absolute;
}
.ex2 .a{
    top: -100px;
    left: -100px;
}
.ex2:hover .a{
    top: 0px;
    left: 0px;
}
.ex2 .b{
    bottom: -100px;
    left:-100px;
}
.ex2:hover .b{
    bottom: 0px;
    left:0px; 
}
.ex2 .d{
    top: -100px;
    right: -100px;
}
.ex2:hover .d{
    top: 0px;
    right: 0px;
}
.ex2 .e{
    right:-100px;
    bottom: -100px;
}
.ex2:hover .e{
    right: 0px;
    bottom: 0px;
}
.ex2 .c{
    left: calc(50% - 50px);
    bottom: -100px;
}
.ex2:hover .c{
    left: calc(50% - 50px);
    bottom: calc(50% - 50px);
}
.ex3{
    position: relative;
    margin-top: 500px;
}
.ex3>div{
    width: 20%;
    height: 100%;
    position: absolute;
}
.ex3 .a{
    top: -300px;
    left: 0;
}
.ex3 .b{
    bottom: -100%;
    left: 20%;
}
.ex3 .d{
    top: 300px;
    right: 160px;
}
.ex3 .e{
    right:0;
    top: -300px;
}
.ex3 .c{
 left: 40%;
 bottom: 300px;
}
/* %단위로 상대적인 위치 조정 가능하다 */
.ex4{
    position: relative;
    margin-top: 500px;
}
.ex4>div{
    position: absolute;
}
.ex4 .a{
    width: 300px;
    height: 300px;
    top: -150px;
    left: 0;
}
.ex4 .b{
    position: absolute;
    width: 100px;
    height: 100px;
    right: 0;
    bottom: 0;

}
.ex4 .c{
    position: absolute;
    width: 100px;
    height: 100px;
    top:  0;
    right: 0;
}
.ex4 .d{
    width: 300px;
    height: 300px;
    top: 150px;
    right: 0; 
}
.ex4 .e{
    position: absolute;
    width: 100px;
    height: 100px;
    left:calc(50% - 50px);
    top: calc(50% - 50px);
}
.ex5{
    position: relative;
}
.ex5>div{
    position: absolute;
}
.ex5 .a{
    height: 100px;
    width: 100px;
    left: -100px;
    top:-100px;
    z-index: 1;
}
.ex5 .b{
    height: 100px;
    width: 100px;
    left: -50px;
    top:-50px;
}
.ex5 .c{
    height: 100px;
    width: 100px;
    left: 0px;
    top:0px;
    z-index: 1;
}
.ex5 .d{
    height: 100px;
    width: 100px;
    left: 50px;
    top:50px;
}
.ex5 .e{
    height: 100px;
    width: 100px;
    left: 100px;
    top: 100px;
    z-index: 1;
}
.ex6{
    display: flex;
}
.ex6>div{
    flex:1;
}
.ex6 .a{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.ex6 .c{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top:0;
}
.ex6 .b{
    position:relative;
}
.ex6 .d,
.ex6 .e{
    position: absolute;
    width: 100px;
    height: 50px;
    bottom: 0;
}
.ex6 .d{left:0;}
.ex6 .e{right: 0;}
