:root{
    --base-pc:20px;
    --base-pad:18px;
    --base-mo:14px;
    --base-wide1:22px;
}
html{
    font-size: 20px;
    font-family: 'Pretendard',sans-serif;
    font-weight: 400;
}
.stp1{
    font-family: "아보";
    src: url(../font/Aboreto-Regular.ttf);
}
.common-frame{
    width: 1600px;
    margin: 0 auto;
}
headermobile{
    display: none;
}
header{
    border-bottom: 2px solid #BE0707;
}
header .common-frame{
    display: flex;
    justify-content: space-between;
}
.gnb{
    display: flex;
}
.gnb a{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    line-height: 100%;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}
.banner{
    height: 700px;
    background: url(../img/banner.jpg) no-repeat 50% 50% / cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner h1{
    color:#fff;
    font-size: 7.5rem;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}
.logo{
    height: 5rem;
    width: 5rem;
}
.logo a{
    display: block;
    height: 100%;
}
.logo a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@media (max-width:5120px){}
@media (max-width:3840px){
    html{
        font-size: var(--base-wide1);
    }
}
@media (max-width:1920px){
    html{
        font-size: var(--base-pc);
    }
@media (max-width:1600px){
    .common-frame {
        width: auto;
        margin: 0 2rem;
    }
    }
}
@media (max-width:1024px){
    html{
        font-size: var(--base-tab);
    }
    .banner{ 
        height: 600px;
    }
    .banner h1{
        font-size: 80px;
    }
}
@media (max-width:900px){
    header{
        display: none;
    }
    headermobile{
        display: block;
    }
    headermobile .common-frame{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    }
@media (max-width:768px){
    html{
        font-size: var(--base-mo);
    }
    .common-frame{
        width: auto;
        margin: 0 1rem;      
    }
    .banner h1{
        font-size: 50px;
    }
}