*{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    font-weight: inherit;
}

a{
    color: inherit;
    text-decoration: inherit;
}

address{
    font-style: inherit;
}

ul,ol{
    list-style: none;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

html{
    font-family: "Aboreto", system-ui;
    font-size: 18px;
}

.banner{
    height: 599px;
    background: url(../img/bread.png) no-repeat 50% 50% / cover;
    margin-bottom: 6rem;
}

.banner h1{
    padding: 1px solid red;;
    font-size: 2.5rem;
    text-align: center;
}

.con1 h2{
    font-size: 60px;
    line-height: 90%;
    margin-bottom: 72px;
}

.con1 p{
    font-family: 'Pretendard';
    line-height: 140%;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 60px;
}

.inner-figure{
    height: 440px;
    width: 1000px;
    background: url(../img/coffee.jpg) no-repeat 50% 50% / cover;
}

.figcaption p{
    font-family: 'Pretendard';
    font-size: 1rem;
    line-height: 140%;
}

.figcaption p strong{
    font-weight: 800px;
}